/* Estilo para o título Lista de Tarefas */
.title {
  font-size: 28px;
  font-weight: bold;
  color: #333;
  margin: 20px 0;
}

/* Estilo para o formulário de adição de tarefa */
.add-task-form {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.add-task-form input {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  margin-top: 10px;
  width: 100%;
}

.add-task-form button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-task-form button:hover {
  background-color: #0056b3;
}

/* Estilo para a lista de tarefas */
.task-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Estilo para cada item da lista de tarefas */
li {
  background-color: #f9f9f9;
  padding: 16px;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

/* Estilo para os botões de ação */
button {
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  padding: 8px 16px;
}

/* Estilo para o botão Adicionar Tarefa */
button.btn-primary {
  background-color: #007bff;
  color: #fff;
}

button.btn-primary:hover {
  background-color: #0056b3;
}

/* Estilo para o botão Excluir Tarefa */
button.btn-danger {
  background-color: #dc3545;
  color: #fff;
  padding: 8px 16px;
  margin-right: 10px; /* Adicionada margem à direita para separar os botões */
}

button.btn-danger:hover {
  background-color: #c82333;
}

/* Estilo para o botão Editar Tarefa */
button.btn-info {
  background-color: #17a2b8;
  color: #fff;
  padding: 8px 16px;
}

button.btn-info:hover {
  background-color: #138496;
}

/* Estilo para texto de tarefa completa */
.task-completed {
  color: green;
  font-weight: bold;
  margin-left: 10px; /* Adicionada margem à esquerda para separar o texto */
}

/* Estilo para o modal de confirmação */
.confirmation-dialog {
  background-color: rgba(0, 0, 0, 0.6); /* Fundo semi-transparente */
  border: 2px solid #fff; /* Adiciona uma borda branca de 2px ao redor do modal */
}

.confirmation-dialog-header {
  background-color: #007bff; /* Fundo azul (você pode ajustar a cor conforme necessário) */
  color: #fff; /* Cor do texto no cabeçalho */
  padding: 8px; /* Espaçamento interno */
  border-top-left-radius: 8px; /* Arredonda o canto superior esquerdo */
  border-top-right-radius: 8px; /* Arredonda o canto superior direito */
}

.confirmation-dialog-content {
  background-color: #f0f0f0; /* Fundo cinza (você pode ajustar a cor conforme necessário) */
  padding: 16px;
  border-bottom-left-radius: 8px; /* Arredonda o canto inferior esquerdo */
  border-bottom-right-radius: 8px; /* Arredonda o canto inferior direito */
}

.confirmation-dialog-footer {
  text-align: right; /* Alinha os botões à direita */
  margin-top: 8px; /* Adiciona espaço acima dos botões */
}

/* Estilo para o botão "Sim" */
.confirmation-button-yes {
  background-color: #dc3545; /* Cor de fundo vermelha para "Sim" */
  color: #fff; /* Cor do texto branco */
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  margin-right: 10px; /* Adiciona margem à direita para separar os botões */
  cursor: pointer;
  transition: background-color 0.3s;
}

.confirmation-button-yes:hover {
  background-color: #c82333; /* Cor de fundo vermelha mais escura ao passar o mouse */
}

/* Estilo para o botão "Não" */
.confirmation-button-no {
  background-color: #007bff; /* Cor de fundo azul para "Não" */
  color: #fff; /* Cor do texto branco */
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.confirmation-button-no:hover {
  background-color: #0056b3; /* Cor de fundo azul mais escura ao passar o mouse */
}


